.Moderator {
  width: 100%;
  max-width: 1100px;
  min-height: 100%;
  margin: auto;
  font-family: 'Arial';
  font-size: 1.1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #cc0000;
  align-items: center;
  justify-content: center; }

.Moderator .imageBar {
  width: 100%;
  height: 500px;
  padding-top: 2rem;
  display: flex;
  flex-wrap: nowrap;
  background-color: #cccccc;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem; }

.Moderator .imageBar .leftBar {
  width: 100%;
  background-color: #cccccc;
  text-align: center; }

.Moderator .imageBar .middle {
  width: 512px;
  height: 512px;
  flex: 3; }

.Moderator .imageBar .middle img {
  width: inherit;
  height: inherit; }

.Moderator .imageBar .rightBar {
  width: 100%;
  text-align: center; }

.Moderator .recentModerations {
  width: 100%;
  background-color: #ff0000;
  height: 280px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #aaaaaa;
  align-items: center;
  justify-content: center; }

.Moderator .recentModerations .heading {
  width: 80%;
  text-align: left;
  font-weight: bold;
  padding: 1rem 0.3rem 0.3rem 0.3rem; }

.Moderator .recentModerations .recentImages {
  width: 80%;
  height: 270px;
  background-color: #ff0000;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #aaaaaa;
  align-items: flex-start;
  justify-content: flex-start; }

.Moderator .recentModerations .recentImages .box {
  width: 160px;
  height: 200px;
  padding: 0.4rem;
  text-align: center; }

.Moderator .recentModerations .recentImages .box header {
  font-size: 1rem;
  padding-bottom: 0.4rem;
  text-align: center; }

.Moderator .recentModerations .recentImages .box button {
  font-size: 1rem;
  padding: 0.4rem;
  margin: 0.4rem; }

.Moderator .recentModerations .recentImages .box img {
  width: 150px;
  height: 150px; }
